/**
Nombre: Nextfi Css 
Web: https://www.nxtfi.org/
Descripción: Css para Nxtfi en base al manual de marca del 2022
Version: 1.0
Año: 2022
Autor: Cardinal Bauhaus
*/
* {
    margin: 0px;

}

/*fonts*/


@font-face {
    font-family: "TTCommons-Regular";
    src: url("fonts/TTCommons-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TTCommons-Bold";
    src: url("fonts/TTCommons-Bold.ttf");
    font-weight: Bold;
    font-style: normal;
}

@font-face {
    font-family: "TTCommons-Light";
    src: url("fonts/TTCommons-Light.ttf");
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: "TTCommons-Light-Italic";
    src: url("fonts/TTCommons-LightItalic.ttf");
    font-weight: light;
    font-style: italic;
}

/*Fuente alternativa*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&display=swap');

/*Titulares*/


h1 {
    font-family: 'TTCommons-bold', 'DM Sans', sans-serif;
    font-size: 80px;
    font-weight: 700;

}

h2 {
    font-family: 'TTCommons-bold', 'DM Sans', sans-serif;
    font-size: 65px;
    font-weight: 700;
}

h3 {
    font-family: 'TTCommons-bold', 'DM Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
}

h4 {
    font-family: 'TTCommons-bold', 'DM Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

h5 {
    font-family: 'TTCommons-bold', 'DM Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

h6 {
    font-family: 'TTCommons-bold', 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

p {
    font-family: 'TTCommons-Regular', 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/*Colores Principales*/

.nxtfi_blue {
    color: #006ED2
}

.nxtfi_ligth_blue {
    color: #00BEFF
}

.nxtfi_white {
    color: #fff
}

.nxtfi_black {
    color: #000
}

.nxtfi_blue_bg {
    background-color: #006ED2;
}

.nxtfi_ligth_blue_bg {
    background-color: #00BEFF
}

.nxtfi_white_bg {
    background-color: #fff;
}

.nxtfi_black_bg {
    background-color: #000;
}


/*Colores Secundarios*/
.nxtfi_blue2 {
    color: #0032C8
}

.nxtfi_blue3 {
    color: #0131FE
}


.nxtfi_blue2_bg {
    background-color: #0032C8;
}

.nxtfi_blue3_bg {
    background-color: #0131FE
}

/*Acentos*/
.nxtfi_acento_aqua {
    color: #0BBBEF
}

.nxtfi_acento_blue {
    color: #1f70f2
}

.nxtfi_acento_aqua_bg {
    background-color: #0BBBEF
}

.nxtfi_acento_blue_bg {
    background-color: #1f70f2
}

/*opacity logo*/
.nxtfi_opacity_6_bg {
    opacity: 60%;
}

.nxtfi_opacity_8_bg {
    opacity: 80%;
}

/*botones y links*/
a {
    text-decoration: none;
    font-family: 'TTCommons-bold', 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #006ED2
}

a:hover {
    text-decoration: none;
    font-family: 'TTCommons-bold', 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #0BBBEF
}

button {
    text-decoration: none;
    font-family: 'TTCommons-bold', 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #006ED2;
    border: #006ED2 solid 1px;
    background-color: transparent;
    border-radius: 150px;
    padding: 10px 20px 5px 20px;
}

.nxtfi_buttom_negativo {
    text-decoration: none;
    font-family: 'TTCommons-bold', 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border: #006ED2 solid 1px;
    background-color: #006ED2;
    border-radius: 150px;
    padding: 10px 20px 5px 20px;
}

.nxtfi_button_monocromo {
    text-decoration: none;
    font-family: 'TTCommons-bold', 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border: #fff solid 1px;
    background-color: transparent;
    border-radius: 150px;
    padding: 10px 20px 5px 20px;
}

button:hover {
    text-decoration: none;

    color: #fff;
    border: #006ED2 solid 1px;
    background-color: #006ED2;
    cursor: pointer;

}

/*logo*/
.nxtfi_logo {
    width: 150px;
    margin: 10px
}