.custom-drag-drop{
  height:40vh;
  margin:0 auto;
  /* margin-top:2rem; */
}

/* .file-drag-drop.is-active {
	border: thick dashed #d4d4d5;
	background-color: var(--primary-color);
	animation: pulse 1.5s infinite;
	animation-timing-function: linear;
}
@keyframes pulse {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
} */