.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #000;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-left: 10px;
}
.navigation li {
  
  float: left;
  border-right:1px solid #bbb;
}
.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navigation li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(9, 204, 248);
}

.navigation img{
    border-radius: 5px;
    margin-right: 5px;
}




.navigation-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
    position: absolute;
    top: 60px;
    left: 0;
    
    flex-direction: column;
  
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
    list-style-type: none;
}
.navigation-menu li {
  
    text-align: center;
    margin: 0;
    float: left;
}
.navigation-menu li a {
    display: block;
    color: rgb(9, 204, 248);
   
    width: 100%;
    padding: 8px;
}
.navigation-menu li:hover {
    background-color: #eee;
}
