
@font-face {
	font-family: "TTCommons-Regular";
	src: url("./assets/fonts/TTCommons-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TTCommons-Bold";
	src: url("./assets/fonts/TTCommons-Bold.ttf");
	font-weight: Bold;
	font-style: normal;
}

@font-face {
	font-family: "TTCommons-Light";
	src: url("./assets/fonts/TTCommons-Light.ttf");
	font-weight: light;
	font-style: normal;
}

@font-face {
	font-family: "TTCommons-Light-Italic";
	src: url("./assets/fonts/TTCommons-LightItalic.ttf");
	font-weight: light;
	font-style: italic;
}

:root {
	--primary-color: #1e35c2;
	--secondary-color: black;
	--third-color: white;
	--text-color: white;
	--title-color: #3055fb;
}
body {
	font-family: "TTCommons-Regular", "DM Sans", sans-serif;
	font-size: 62.5%;
	color: white;
	background-color: var(--primary-color);
	/* line-height: 1.7em; */
}
@import "./assets/css/views.css";
